[buildout]
parts = 
    robot
    robot-test

[robot]
recipe = zc.recipe.egg
eggs =
    decorator
    docutils
    lxml
    robotentrypoints
    robotframework
    robotframework-selenium2library
    selenium
interpreter = robopy

[robot-test]
recipe = collective.recipe.scriptgen
cmd = ${buildout:directory}/bin/pybot
arguments = src/oira/test/tests/acceptance/*.rst

